<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Admin Dashboard</h1>
    <h2 id="username-heading"></h2>
    <p>This is a protected page. Only logged in users are allowed to access this.</p>
    <a href="/logout">Log Out</a>
  </div>

  <script src="/js/app.js"></script>
</body>
</html>